<div class="presentation-container">
  <header class="header">
    <h1>Ingénieure au Féminin</h1>
  </header>

  <div class="about">
    <h2>À propos de l'association</h2>
    <p>
      Ingénieure Au Féminin est une association dynamique et engagée de Polytech
      Annecy-Chambéry, dédiée à la promotion de la place des femmes dans le
      domaine de l'ingénierie. Notre mission est de sensibiliser, inspirer et
      soutenir les femmes qui aspirent à des carrières dans les sciences et
      technologies.
    </p>
    <div class="image-placeholder">[Image de l'association]</div>
  </div>

  <div class="activities">
    <h2>Nos Activités</h2>
    <ul>
      <li>
        <strong>Conférences :</strong> Nous organisons régulièrement des
        conférences animées par des professionnelles inspirantes et des experts
        du secteur. Ces événements offrent des perspectives uniques sur les
        défis et les opportunités dans l'ingénierie, tout en mettant en lumière
        les parcours de femmes remarquables.
      </li>
      <li>
        <strong>Tables Rondes :</strong> Nos tables rondes réunissent des
        étudiantes, des professionnelles et des enseignantes pour discuter de
        sujets variés tels que l'égalité des genres, le leadership féminin et
        les innovations technologiques. Ces échanges favorisent le réseautage et
        le partage d'expériences.
      </li>
      <li>
        <strong>Expositions :</strong> Nous montons des expositions interactives
        et informatives pour présenter les contributions des femmes dans
        l'ingénierie, passées et présentes. Ces expositions sont ouvertes au
        public et visent à éduquer et inspirer les visiteurs de tous âges.
      </li>
      <li>
        <strong>Rencontres avec les Lycées :</strong> Nous collaborons
        étroitement avec les lycées pour organiser des rencontres et des
        ateliers destinés à encourager les jeunes filles à envisager des
        carrières dans l'ingénierie. Ces initiatives visent à démystifier les
        stéréotypes de genre et à montrer les nombreuses opportunités offertes
        par ce domaine.
      </li>
    </ul>
  </div>

  <div class="goals">
    <h2>Nos Objectifs</h2>
    <ul>
      <li>
        <strong>Sensibiliser :</strong> Informer sur la diversité de genre dans
        l'ingénierie.
      </li>
      <li>
        <strong>Inspirer :</strong> Mettre en avant des modèles féminins pour
        encourager les jeunes filles.
      </li>
      <li>
        <strong>Soutenir :</strong> Offrir un réseau de mentorat et de soutien.
      </li>
    </ul>
  </div>

  <div class="organigram">
    <h2>Organigramme</h2>
    <div class="organigram-placeholder">
      <img
        src="./assets/organigramme.jpg"
        alt="organigramme_picture"
        class="organigramme-image"
      />
    </div>
  </div>

  <div class="join">
    <h2>Rejoignez-nous</h2>
    <p>
      Faites partie de cette communauté engagée et contribuez à un avenir où les
      femmes jouent un rôle central dans l'innovation et le progrès
      technologique !
    </p>
  </div>
</div>

<app-chatbot />
