<div class="presentation-container">
    <header class="header">
      <h1>Ingénieure au Féminin</h1>
    </header>
    
    <div class="infos_texte">
        <div class="about">
          <h2>À propos de l'association</h2>
          <p>
            Ingénieure Au Féminin est une association <strong>dynamique</strong> et <strong>engagée</strong> de Polytech Annecy-Chambéry, dédiée à la promotion de la place des femmes dans le domaine de l'ingénierie.
            Depuis 2021 nous sensibilisons, soutenons et inspirons les femmes qui aspirent à des carrières dans les sciences et technologies.
          </p>
         
        </div>
        
        <div class="block_activities">
          <div class="activities">
            <h2>Nos Activités</h2>
            <ul>
              <li><strong>Conférences :</strong>  Nous organisons régulièrement des conférences animées par des professionnelles inspirantes et des experts du secteur. 
              </li>
              <li><strong>Tables Rondes :</strong>  Nos tables rondes réunissent des étudiantes, des professionnelles et des enseignantes pour discuter de sujets variés tels que l'égalité des genres, le leadership féminin et les innovations technologiques.
              </li>
              <li><strong>Expositions :</strong>  Nous montons des expositions interactives et informatives pour présenter les contributions des femmes dans l'ingénierie, passées et présentes. 
              </li>
              <li><strong>Rencontres avec les Lycées :</strong>  Nous collaborons étroitement avec les lycées pour organiser des rencontres et des ateliers destinés à encourager les jeunes filles à envisager des carrières dans l'ingénierie. 
              </li>
            </ul>
          </div>
          <div class="image_activities">
            <img src="./assets/remise_prix.jpg" alt="organigramme_picture" class="block-image">
          </div>
          
        </div>
        
        <div class="block_activities">
          <div class="image_activities">
            <img src="./assets/image_page1.jpg" alt="organigramme_picture" class="block-image">
          </div>
          <div class="goals">
            <h2>Nos Objectifs</h2>
            <ul>
              <li><strong>Sensibiliser :</strong> Informer sur la diversité de genre dans l'ingénierie.</li>
              <li><strong>Inspirer :</strong> Mettre en avant des modèles féminins pour encourager les jeunes filles.</li>
              <li><strong>Soutenir :</strong> Offrir un réseau de mentorat et de soutien.</li>
            </ul>
          </div>
          
        </div>
        
    </div>
    
    <div class="infos_orga">
      <div class="organigram">
        <h2>Nos Membres</h2>
        <div class="organigram-placeholder">
          <img src="./assets/organigramme.jpg" alt="organigramme_picture" class="organigramme-image">
        </div>
      </div>
      
      <div class="join">
        <h2>Rejoignez-nous</h2>
        <p>
          Faites partie de cette communauté engagée et contribuez à un avenir où les femmes jouent un rôle central dans l'innovation et le progrès technologique !
        </p>
      </div>
    </div>
    <div class="contact-banner">
      <h2>Contactez-nous</h2>
      <form action="#" method="post">
          <div class="form-group1">
              <label for="first-name">Prénom :</label>
              <input type="text" id="first-name" name="first-name" required>
              <label for="last-name">Nom :</label>
              <input type="text" id="last-name" name="last-name" required>
          </div>
          <div class="form-group2">
              <label for="email">Email :</label>
              <input type="text" id="email" name="email" required>
              <button type="submit">Envoyer</button>
          </div>
          
      </form>
  </div>
  
  </div>
